@import url('./tailwind.css');
@import url('rc-tooltip/assets/bootstrap_white.css');
@import url('https://unpkg.com/tippy.js@6/dist/tippy.css');
@import url('react-confirm-alert/src/react-confirm-alert.css');

.apexcharts-legend-marker {
  top: 0px !important;
  right: 2px !important;
}

.react-confirm-alert-overlay {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}
